### Splitting the dataset

In [1]:
import csv  # reading csv files
import pandas as pd # data science
import numpy as np  # data science
from sklearn.model_selection import train_test_split    # splitting the data
import itertools    # getting a list of all words from a dataframe
from collections import Counter # for getting number of occurences of words
import regex as re
import ast

In [2]:
raw_data = pd.read_csv("data/sample_preprocessed_no_punct.csv")

/var/folders/gj/r8x5s5mn7jg12hs3c28wpg4c0000gn/T/ipykernel_18928/3667402737.py:1: DtypeWarning: Columns (1,2,3,13,17) have mixed types. Specify dtype option on import or set low_memory=False.
  raw_data = pd.read_csv("data/sample_preprocessed_no_punct.csv")

In [3]:
raw_data.head()

,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,id,domain,type,url,content,scraped_at,inserted_at,updated_at,title,authors,keywords,meta_keywords,meta_description,tags,summary,source
0,0.0,11467794,8027,9787368,nytimes.com,reliable,https://query.nytimes.com/gst/fullpage.html?re...,"['kashaaudrey', 'sission', 'lifelong', 'new', ...",2018-02-11 00:48:58.787555,2018-02-11 00:14:20.346838,2018-02-11 00:14:20.346871,"Paid Notice: Deaths KASHA, AUDREY SISSION",NaN,NaN,['KASHA AUDREY SISSION'],"KASHA--Audrey Sission, a lifelong New Yorker, ...",NaN,NaN,nytimes
1,1.0,4591569,8760,3009581,thinkprogress.org,political,https://thinkprogress.org/into-the-valley-of-d...,"['forward', 'light', 'brigadewa', 'man', 'dism...",2017-11-18T20:01:27.400599,2018-02-07 23:39:33.852671,2018-02-07 23:39:33.852696,"Into The Valley Of Death Rode The 600, Into Th...",NaN,NaN,[''],NaN,"#Climate Change, #Climate",NaN,NaN
2,2.0,6162754,2521,4251195,truthandaction.org,bias,http://www.truthandaction.org/woman-thrown-off...,"['woman', 'thrown', 'plane', 'said', 'hillari'...",2017-11-27T01:15:32.269834,2018-02-07 23:39:33.852671,2018-02-07 23:39:33.852696,Woman Thrown Off Plane When She Said Hillary i...,NaN,NaN,[''],NaN,NaN,NaN,NaN
3,3.0,2542246,2019,1769246,ecowatch.com,political,https://www.ecowatch.com/cuban-province-well-o...,"['cuban', 'provinc', 'well', 'way', 'num', 're...",2017-11-10T11:18:44.524042,2018-02-07 23:39:33.852671,2018-02-07 23:39:33.852696,Cuban Province Well on Its Way to 100% Renewab...,"Guest Contributor, Sierra Club, Common Dreams,...",NaN,"['featured', 'renewables', 'business', 'cuba']",President Obama’s recent announcement that he ...,NaN,NaN,NaN
4,4.0,3753783,4806,2429386,weeklystandard.com,political,http://www.weeklystandard.com/print/the-times-...,"['new', 'york', 'time', 'greet', 'deleg', 'fro...",2017-11-13T18:09:27.760857,2018-02-07 23:39:33.852671,2018-02-07 23:39:33.852696,The Times Repeats Itself,To The Scrapbook,NaN,['The Scrapbook'],The New York Times greeted delegates with a fr...,NaN,NaN,NaN

In [4]:
raw_data['content'][0]

"['kashaaudrey', 'sission', 'lifelong', 'new', 'yorker', 'born', 'decemb', 'num', 'num', 'die', 'june', 'num', 'num', 'daughter', 'late', 'helen', 'sissoncerussi', 'theodor', 'r', 'sisson', 'mother', 'late', 'matthew', 'p', 'kasha', 'sister', 'b', 'peter', 'cerussi', 'maxin', 'l', 'sisson', 'gloria', 'cerussi', 'gravesid', 'servic', 'friday', 'june', 'num', '11am', 'warwick', 'cemeteri', 'warwick', 'ny', 'contribut', 'memori', 'anim', 'welfar', 'group', 'choic', 'would', 'appreci', 'date']"

In [5]:
pattern = re.compile(r"\w+")
def string_to_list(s):
    return pattern.findall(s)
raw_data['content'] = raw_data['content'].apply(string_to_list)

In [6]:
len(raw_data)

650012

In [7]:
data = raw_data[raw_data['type'].isnull() == False]

THIS IS JUST TEMPORARY - HERE WE NEED TO DECIDE WHAT TO DO ABOUT THE FACT THAT NOT ALL ARTICLES ARE EITHER 'RELIABLE' OR 'FAKE'

In [8]:
#data = data[(data['type'] == 'fake') | (data['type'] == 'reliable')]

In [9]:
len(data)

621916

In [10]:
data.head()

,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,id,domain,type,url,content,scraped_at,inserted_at,updated_at,title,authors,keywords,meta_keywords,meta_description,tags,summary,source
0,0.0,11467794,8027,9787368,nytimes.com,reliable,https://query.nytimes.com/gst/fullpage.html?re...,"[kashaaudrey, sission, lifelong, new, yorker, ...",2018-02-11 00:48:58.787555,2018-02-11 00:14:20.346838,2018-02-11 00:14:20.346871,"Paid Notice: Deaths KASHA, AUDREY SISSION",NaN,NaN,['KASHA AUDREY SISSION'],"KASHA--Audrey Sission, a lifelong New Yorker, ...",NaN,NaN,nytimes
1,1.0,4591569,8760,3009581,thinkprogress.org,political,https://thinkprogress.org/into-the-valley-of-d...,"[forward, light, brigadewa, man, dismayd, tho,...",2017-11-18T20:01:27.400599,2018-02-07 23:39:33.852671,2018-02-07 23:39:33.852696,"Into The Valley Of Death Rode The 600, Into Th...",NaN,NaN,[''],NaN,"#Climate Change, #Climate",NaN,NaN
2,2.0,6162754,2521,4251195,truthandaction.org,bias,http://www.truthandaction.org/woman-thrown-off...,"[woman, thrown, plane, said, hillari, b]",2017-11-27T01:15:32.269834,2018-02-07 23:39:33.852671,2018-02-07 23:39:33.852696,Woman Thrown Off Plane When She Said Hillary i...,NaN,NaN,[''],NaN,NaN,NaN,NaN
3,3.0,2542246,2019,1769246,ecowatch.com,political,https://www.ecowatch.com/cuban-province-well-o...,"[cuban, provinc, well, way, num, renew, energi]",2017-11-10T11:18:44.524042,2018-02-07 23:39:33.852671,2018-02-07 23:39:33.852696,Cuban Province Well on Its Way to 100% Renewab...,"Guest Contributor, Sierra Club, Common Dreams,...",NaN,"['featured', 'renewables', 'business', 'cuba']",President Obama’s recent announcement that he ...,NaN,NaN,NaN
4,4.0,3753783,4806,2429386,weeklystandard.com,political,http://www.weeklystandard.com/print/the-times-...,"[new, york, time, greet, deleg, frontpag, scoo...",2017-11-13T18:09:27.760857,2018-02-07 23:39:33.852671,2018-02-07 23:39:33.852696,The Times Repeats Itself,To The Scrapbook,NaN,['The Scrapbook'],The New York Times greeted delegates with a fr...,NaN,NaN,NaN

In [11]:
from sklearn.feature_extraction.text import CountVectorizer
vectorizer = CountVectorizer(analyzer=lambda x : x)
X = vectorizer.fit_transform(data['content'])
y = data['type']

Split data before representing our data as bag of words for naive bayes classifier in order to avoid statistics leaking into validation and testing dat.

In [ ]:
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.25, random_state=0)
X_val, X_test, y_val, y_test = train_test_split(X_val, y_val, test_size=0.5, random_state=0)

In [ ]:
#X_train.head()

AttributeError: head not found

In [ ]:
X_train.shape

(466437, 1364774)

In [ ]:
len(y_train)

466437

In [ ]:
def create_bag_of_words(dataframe):
    # get all words appearing in reliable articles
    reliable_words = [word for list in list(itertools.chain(dataframe.loc[dataframe['type'] == 'reliable'].content)) for word in list]
    # get all words appearing in fake articles
    fake_words = [word for list in list(itertools.chain(dataframe.loc[dataframe['type'] == 'fake'].content)) for word in list]
    # count words in both lists
    count_reliable = Counter(reliable_words)
    count_fake = Counter(fake_words)
    return pd.DataFrame({'reliable': pd.Series(count_reliable), 'fake': pd.Series(count_fake)})

In [ ]:
from sklearn.naive_bayes import MultinomialNB
model = MultinomialNB()
model.fit(X_train.toarray(), y_train)

:

:

In [ ]:
#X_train = create_bag_of_words(X_train)

In [ ]:
#X_train.head()

            reliable  fake
0                2.0   NaN
00              18.0   3.0
000bq            NaN   4.0
000deg           NaN   2.0
0012712kai       1.0   NaN

In [ ]:
#X_train.tail()

          reliable  fake
️truth         NaN   2.0
️ugggirl       NaN   1.0
️url           NaN   1.0
️wf            NaN   1.0
️win           NaN   1.0

In [ ]:
#X_train.iloc[50:100]

                reliable  fake
05                   2.0   NaN
0500z                NaN   1.0
051date0239          1.0   NaN
054date1258          1.0   NaN
054date4145          1.0   NaN
0577n089112a         NaN   1.0
0577n089112b         NaN   1.0
05a4820              1.0   NaN
05pm                 1.0   NaN
05th                 NaN   2.0
05vnum               NaN   1.0
05x                  NaN   1.0
06                   1.0   NaN
061date29            1.0   NaN
062date1d            2.0   NaN
062date2230          1.0   NaN
065date11            1.0   NaN
06am                 2.0   NaN
06date00             NaN   1.0
06date02290          1.0   NaN
06date02291          1.0   NaN
06date02292          1.0   NaN
06pm                 1.0   NaN
06z                  NaN   1.0
0714date038th        NaN   1.0
07182014p01ph        NaN   1.0
074892941date9       NaN  40.0
077date25            1.0   NaN
079date43            1.0   NaN
07a                  NaN   1.0
07am                 2.0   NaN
07date00             2.0   NaN
07date95950          NaN   1.0
07may15              NaN   1.0
07pm                 3.0   NaN
080date46            1.0   NaN
085date57            2.0   NaN
086571598x           NaN   1.0
08date00             2.0   NaN
08date30             1.0   NaN
08pm                 2.0   NaN
08pt                 NaN   1.0
09                   1.0   NaN
0900hr               NaN   1.0
090date6d            1.0   NaN
09am                 4.0   NaN
09date15             1.0   NaN
09date99             NaN   4.0
09h30                1.0   NaN
09madrid347          NaN   1.0

Replace all NaN values with 0, and add 1 to all values in order for Naive Bayes to work correctly

In [ ]:
X_train = X_train.fillna(0)
X_train += 1

In [ ]:
X_train.head()

           reliable    fake
a            4343.0  1418.0
aa            228.0   110.0
aaa           347.0   127.0
aaaa            4.0     1.0
aaaaaaaah       2.0     1.0

In [ ]:
# define function, so we can apply the same steps to X_val and X_test
def process_for_nb(dataframe):
    dataframe = create_bag_of_words(dataframe)
    dataframe = dataframe.fillna(0)
    dataframe += 1
    return dataframe

In [ ]:
X_val = process_for_nb(X_val)
X_test = process_for_nb(X_test)

In [ ]:
from sklearn.naive_bayes import GaussianNB
from sklearn.naive_bayes import MultinomialNB
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.linear_model import LogisticRegression

vectorizer = CountVectorizer(analyzer='word',
                             preprocessor=None,
                             stop_words='english',
                             max_features=100)

X_train_vectorized = vectorizer.fit_transform(X_train)
X_train_vectorized = X_train_vectorized.toarray()

In [ ]:
logreg = LogisticRegression()
logreg.fit(X_train, y_train)

ValueError: Found input variables with inconsistent numbers of samples: [437703, 147169]

In [ ]:
nb = MultinomialNB()
nb.fit(X_train,y_train)

ValueError: Input X contains NaN.
MultinomialNB does not accept missing values encoded as NaN natively. For supervised learning, you might want to consider sklearn.ensemble.HistGradientBoostingClassifier and Regressor which accept missing values encoded as NaNs natively. Alternatively, it is possible to preprocess the data, for instance by using an imputer transformer in a pipeline or drop samples with missing values. See https://scikit-learn.org/stable/modules/impute.html You can find a list of all estimators that handle NaN values at the following page: https://scikit-learn.org/stable/modules/impute.html#estimators-that-handle-nan-values

### Test

NOTE: Example of problem

In [ ]:
count = Counter(['hey', 'word', 'donald', 'donald'])
count

Counter({'hey': 1, 'word': 1, 'donald': 2})

In [ ]:
for word in count:
    print(count[word])

1
1
2

In [ ]:
count2 = Counter(['win', 'some', 'donald', 'donald'])
count + count2

Counter({'hey': 1, 'word': 1, 'donald': 4, 'win': 1, 'some': 1})

In [ ]:
pd.DataFrame({'reliable': pd.Series(count), 'fake': pd.Series(count2)})

        reliable  fake
donald       2.0   2.0
hey          1.0   NaN
some         NaN   1.0
win          NaN   1.0
word         1.0   NaN

In [ ]:
data.loc[data['type'] == 'reliable'].content

0         [kashaaudrey, sission, lifelong, new, yorker, ...
5         [market, news, thu, nov, num, num, num, am, ed...
19        [articl, last, tuesday, chang, manag, chelsea,...
24        [nathanael, chung, num, westfield, two, straig...
30        [area, larger, home, larger, lot, typic, sight...
                                ...
649993    [strategi, play, campaign, work, deni, oppon, ...
649998    [creat, powerpoint, present, document, go, fai...
650003    [human, weapon, grip, import, documentari, exa...
650009    [world, news, thu, nov, num, num, num, am, gmt...
650011    [q, law, govern, instal, solar, panel, new, yo...
Name: content, Length: 133693, dtype: object

In [ ]:
reliable_words = [word for list in (data.loc[data['type'] == 'reliable'].content) for word in list]
fake_words = [word for list in (data.loc[data['type'] == 'fake'].content) for word in list]
count_fake = Counter(fake_words)
count_reliable = Counter(reliable_words)
test = pd.DataFrame({'reliable': pd.Series(count_reliable), 'fake': pd.Series(count_fake)})

In [ ]:
test.head()

           reliable    fake
a            5665.0  1866.0
aa            280.0   145.0
aaa           476.0   159.0
aaaa            3.0     NaN
aaaaaaaah       1.0     NaN

In [ ]:
pattern = re.compile(r"\w+")
pattern.findall("'[donald', 'trump', 'donald]'")

['donald', 'trump', 'donald']

In [ ]:
Counter([word for list in list(itertools.chain(X_train.loc[X_train['type'] == 'reliable'].content)) for word in list])

Counter({'berri': 693,
         'dual': 287,
         'role': 10992,
         'author': 18631,
         'particip': 5035,
         'give': 21610,
         'justic': 8707,
         'awkwardli': 123,
         'divid': 2825,
         'person': 20268,
         'first': 63234,
         'half': 13320,
         'book': 22273,
         'deal': 18539,
         'year': 120563,
         'appoint': 4510,
         'function': 2517,
         'tradit': 8072,
         'academ': 2112,
         'historian': 1469,
         'second': 23774,
         'becom': 21161,
         'necessarili': 1695,
         'selfinterest': 142,
         'memoirist': 28,
         'unintend': 224,
         'consequ': 2148,
         'power': 21201,
         'episod': 3448,
         'commiss': 7656,
         'histori': 13529,
         'receiv': 48263,
         'dispassion': 64,
         'treatment': 4868,
         'seemingli': 1230,
         'minutia': 62,
         'period': 8293,
         'lengthi': 659,
         'attent': 6451,
         'photo': 41875,
         'one': 116769,
         'unexpect': 1170,
         'revel': 1218,
         'may': 42213,
         'help': 32545,
         'explain': 7579,
         'problem': 16748,
         'num': 873292,
         'success': 10940,
         'persuad': 1895,
         'clinton': 15492,
         'administr': 16198,
         'editor': 10376,
         'alfr': 618,
         'knopf': 382,
         'victoria': 1175,
         'wilson': 2754,
         'open': 29676,
         'seat': 6340,
         'could': 54380,
         'becam': 11064,
         'absorb': 1073,
         'insidebasebal': 2,
         'like': 95983,
         'lost': 11625,
         'perspect': 1805,
         'much': 36346,
         'reason': 12093,
         'reader': 3700,
         'want': 42026,
         'need': 32803,
         'know': 31328,
         'given': 11843,
         'battl': 5724,
         'liber': 4149,
         'conserv': 7510,
         'name': 22574,
         'next': 27096,
         'staff': 7975,
         'director': 22065,
         'outset': 224,
         'contrast': 2746,
         'revil': 87,
         'senat': 17297,
         'harri': 3990,
         'f': 3621,
         'byrd': 347,
         'sr': 497,
         'virginia': 3362,
         'vehicl': 5056,
         'witch': 401,
         'hunt': 2343,
         'worst': 2962,
         'member': 25802,
         'went': 14003,
         'alabama': 1431,
         'investig': 14580,
         'violat': 4297,
         'vote': 19112,
         'right': 35352,
         'stay': 9951,
         'air': 9383,
         'forc': 21479,
         'base': 16539,
         'everi': 21290,
         'local': 13867,
         'hotel': 8057,
         'segreg': 448,
         'testimoni': 1774,
         'heard': 5492,
         'earli': 17627,
         'day': 50543,
         'contain': 4256,
         'horror': 1279,
         'capabl': 1950,
         'shame': 1068,
         'nation': 39989,
         'black': 15632,
         'veteran': 4394,
         'instanc': 3486,
         'shot': 10787,
         'back': 39418,
         'paralyz': 311,
         'polic': 21209,
         'chief': 17054,
         'deni': 4581,
         'armi': 6899,
         'pension': 2225,
         'supposedli': 547,
         'provok': 693,
         'attack': 16142,
         'anyway': 1444,
         'long': 27156,
         'fuller': 435,
         'deeper': 1075,
         'account': 12000,
         'commission': 2753,
         'handl': 4653,
         'physic': 4397,
         'polit': 25895,
         'risk': 9057,
         'find': 21009,
         'fact': 10595,
         'lethal': 420,
         'hostil': 1200,
         'environ': 3218,
         'intermitt': 217,
         'particular': 4090,
         'rev': 1885,
         'theodor': 435,
         'hesburgh': 7,
         'presid': 47483,
         'notr': 680,
         'dame': 824,
         'leap': 928,
         'vividli': 241,
         'dryli': 71,
         'duti': 2525,
         'lose': 8071,
         'temper': 572,
         'hear': 9212,
         'school': 34759,
         'desegreg': 79,
         'maryland': 1215,
         'father': 15422,
         'declar': 4509,
         'counti': 10575,
         'commun': 18818,
         'drag': 1451,
         'kick': 2532,
         'scream': 1132,
         'us': 43077,
         'constitut': 4393,
         'newslett': 94787,
         'sign': 77773,
         'continu': 111593,
         'read': 105457,
         'main': 100143,
         'stori': 109932,
         'pleas': 96319,
         'verifi': 31411,
         'your': 41318,
         'robot': 31733,
         'click': 33040,
         'box': 35818,
         'invalid': 30958,
         'email': 41779,
         'address': 37972,
         'reenter': 30864,
         'must': 42605,
         'select': 36183,
         'subscrib': 63754,
         'agre': 40599,
         'occasion': 33242,
         'updat': 34981,
         'special': 40726,
         'offer': 53105,
         'new': 191633,
         'york': 111234,
         'timess': 30723,
         'product': 49506,
         'servic': 56407,
         'thank': 35692,
         'error': 33374,
         'occur': 34373,
         'tri': 59933,
         'later': 48107,
         'view': 45686,
         'time': 118484,
         'still': 34965,
         'recount': 1442,
         'report': 40184,
         'impact': 4932,
         'feel': 19194,
         'less': 19365,
         'rather': 9193,
         'far': 16100,
         'shorterliv': 2,
         'bodi': 8862,
         'kerner': 17,
         'formal': 2571,
         'known': 13413,
         'advisori': 962,
         'civil': 6034,
         'disord': 1243,
         'left': 21143,
         'behind': 10712,
         'clearer': 308,
         'memor': 1000,
         'legaci': 1849,
         'warn': 6060,
         'move': 25158,
         'toward': 8875,
         'two': 67563,
         'societi': 7152,
         'white': 20496,
         'separ': 5429,
         'unequ': 123,
         'closer': 2776,
         'present': 11400,
         'disput': 3102,
         'foe': 311,
         'signific': 5289,
         'ronald': 1277,
         'reagan': 1561,
         'bask': 154,
         'posthum': 131,
         'bipartisan': 762,
         'glow': 726,
         'instruct': 1960,
         'remind': 3281,
         'divis': 6375,
         'racial': 1981,
         'practic': 10001,
         'anticip': 1765,
         'georg': 7723,
         'h': 3791,
         'w': 4957,
         'bush': 14348,
         'nomin': 3279,
         'clarenc': 300,
         'thoma': 6005,
         'suprem': 4683,
         'court': 22036,
         'decad': 10302,
         'instal': 4034,
         'chairman': 8136,
         'pendleton': 128,
         'jr': 4717,
         'oppos': 4277,
         'agenda': 1920,
         'affirm': 967,
         'action': 9623,
         'offici': 34427,
         'describ': 9727,
         'inherit': 776,
         'pocket': 1495,
         'renegad': 126,
         'clean': 3979,
         'budget': 7371,
         'drastic': 577,
         'cut': 14348,
         'would': 103859,
         'discern': 352,
         'might': 21883,
         'benefit': 8704,
         'explan': 1432,
         'omit': 343,
         'altogeth': 676,
         'style': 5931,
         'scoresettl': 14,
         'washington': 16727,
         'memoir': 1342,
         'reduc': 7008,
         'antagonist': 115,
         'linda': 1145,
         'chavez': 716,
         'abigail': 199,
         'thernstrom': 19,
         'michael': 10913,
         'horowitz': 299,
         'twodimension': 52,
         'caricatur': 250,
         'peopl': 75080,
         'mindless': 67,
         'enemi': 1987,
         'equal': 4168,
         'review': 9361,
         'life': 25804,
         'public': 28349,
         'behalf': 1568,
         'mari': 4373,
         'franc': 6163,
         'deserv': 2098,
         'mani': 50108,
         'accolad': 122,
         'evid': 7633,
         'wrong': 5279,
         'tell': 13887,
         'obvious': 2126,
         'matter': 10015,
         'deepli': 2912,
         'els': 6226,
         'privat': 12738,
         'differ': 20168,
         'lui': 715,
         'benvenist': 13,
         'martin': 4959,
         'carnoy': 8,
         'richard': 6768,
         'rothstein': 54,
         'pp': 361,
         'routledgefalm': 1,
         'paper': 6877,
         'educ': 11339,
         'reform': 4722,
         'swamp': 431,
         'contenti': 594,
         'issu': 22437,
         'simplist': 129,
         'answer': 6929,
         'wait': 7810,
         'suck': 380,
         'unwari': 15,
         'among': 20013,
         'heat': 4290,
         'idea': 11610,
         'provid': 19198,
         'parent': 10703,
         'choic': 6504,
         'voucher': 404,
         'propon': 503,
         'field': 11659,
         'number': 20065,
         'argument': 3426,
         'notion': 1844,
         'advanc': 5944,
         'economist': 2802,
         'milton': 390,
         'friedman': 968,
         'argu': 6990,
         'deliv': 5940,
         'qualiti': 4275,
         'cost': 15199,
         'today': 19264,
         'advoc': 3753,
         'see': 30762,
         'competit': 6267,
         'best': 20270,
         'way': 41888,
         'improv': 8136,
         'contend': 2601,
         'abandon': 2512,
         'system': 18624,
         'break': 8147,
         'wall': 10350,
         'church': 11329,
         'state': 81210,
         'expert': 7091,
         'world': 39591,
         'bank': 20372,
         'professor': 8000,
         'econom': 12199,
         'stanford': 1188,
         'univers': 26137,
         'former': 23042,
         'columnist': 1376,
         'respect': 6141,
         'wade': 1024,
         'debat': 7667,
         'set': 24031,
         'apart': 9016,
         'lay': 2213,
         'fairli': 1352,
         'actual': 9189,
         'test': 12353,
         'theori': 2432,
         'result': 14782,
         'research': 14729,
         'without': 18721,
         'make': 61220,
         'grandios': 139,
         'claim': 9442,
         'et': 1607,
         'al': 4902,
         'say': 65826,
         'show': 43639,
         'littl': 21920,
         'origin': 9209,
         'visit': 11697,
         'sinc': 31724,
         'finish': 7732,
         'advertis': 66777,
         'case': 25635,
         'studi': 15462,
         'eight': 6963,
         'california': 8073,
         'form': 10009,
         'heart': 8562,
         'pillar': 430,
         'assert': 2394,
         'organ': 16665,
         'flexibl': 1154,
         'goe': 5620,
         'compet': 4039,
         'anoth': 28203,
         'lead': 20290,
         'higher': 7310,
         'student': 18017,
         'achiev': 4403,
         'magic': 2427,
         'marketplac': 731,
         'trap': 1332,
         'bureaucrat': 504,
         'hell': 2160,
         'determin': 5957,
         'teach': 4219,
         'usual': 6743,
         'high': 19889,
         'imposs': 2396,
         'govern': 37077,
         'incompet': 271,
         'predict': 4093,
         'found': 23248,
         'someth': 17536,
         'turn': 21844,
         'shape': 4011,
         'cultur': 10057,
         'around': 25596,
         'lowincom': 733,
         'look': 35887,
         'alik': 664,
         'includ': 48089,
         'lack': 5478,
         'meaning': 792,
         'involv': 12069,
         'middl': 7134,
         'uppermiddleclass': 54,
         'also': 74709,
         'extens': 3000,
         'whether': 17670,
         'noth': 8998,
         'surpris': 7299,
         'though': 19887,
         'expect': 20802,
         'confound': 159,
         'affluent': 474,
         'respond': 6035,
         'attempt': 6048,
         'interfer': 741,
         'curriculum': 577,
         'intern': 18337,
         'quit': 6095,
         'respons': 12423,
         'note': 13712,
         'anyth': 8360,
         'triedandtru': 35,
         'approach': 7763,
         'inflex': 52,
         'regularli': 1750,
         'pressur': 6231,
         'thing': 28687,
         'live': 33023,
         'dissent': 796,
         'democraci': 2448,
         'modal': 59,
         'trigger': 997,
         'south': 15691,
         'carolina': 3990,
         'gov': 2688,
         'nikki': 192,
         'haley': 343,
         'ap': 7316,
         'presidentelect': 3115,
         'donald': 8486,
         'trump': 31908,
         'tap': 1901,
         'smart': 2281,
         'tough': 3935,
         'women': 19539,
         'ambassador': 1935,
         'unit': 41155,
         'betsi': 281,
         'devo': 90,
         'secretari': 6829,
         'excel': 2501,
         'pick': 8243,
         'fight': 10699,
         'demand': 8246,
         'abl': 10040,
         'choos': 3809,
         'child': 7463,
         'potenti': 8155,
         'teacher': 6352,
         'union': 11632,
         'depart': 17831,
         'even': 50213,
         'republican': 20709,
         'alreadi': 14213,
         'hate': 2571,
         'least': 15628,
         'she': 3726,
         'effect': 12860,
         'rave': 238,
         'head': 16193,
         'michigan': 3095,
         'gop': 1266,
         'activist': 2639,
         'philanthropist': 297,
         'foster': 1586,
         'dramat': 2243,
         'prokid': 2,
         'multipl': 2970,
         'guess': 1932,
         'citi': 44864,
         'charter': 1335,
         'come': 38052,
         'januari': 5657,
         'go': 56561,
         'potent': 500,
         'friend': 18759,
         'meanwhil': 2885,
         'prove': 4958,
         'yet': 14472,
         'he': 12904,
         'will': 3639,
         'work': 68192,
         'critic': 14751,
         'within': 9070,
         'word': 11450,
         'primari': 4155,
         'exampl': 9434,
         'everyth': 8448,
         'governor': 7492,
         'doesnt': 10045,
         'easili': 2937,
         'couldv': 70,
         'gotten': 1675,
         'blackbal': 9,
         'inde': 3365,
         'rise': 9034,
         'star': 12267,
         'let': 12045,
         'gain': 7154,
         'crucial': 2241,
         'experi': 11129,
         'en': 1664,
         'rout': 3619,
         'presum': 1172,
         'offic': 33823,
         'send': 6086,
         'interest': 18587,
         'messag': 7868,
         'america': 14429,
         'repres': 13246,
         'daughter': 9811,
         'indian': 4666,
         'immigr': 7873,
         'share': 21480,
         'never': 21846,
         'follow': 18289,
         'basketbal': 3768,
         'dont': 29962,
         'realli': 18231,
         'care': 15989,
         'happen': 14375,
         'talk': 19578,
         'owner': 8913,
         'player': 19021,
         'tv': 4839,
         'watch': 13194,
         'game': 40400,
         'im': 19999,
         'sure': 9550,
         'wouldnt': 3474,
         'team': 31264,
         'playoff': 3196,
         'came': 17215,
         'nba': 2567,
         'audienc': 6204,
         'money': 20217,
         'made': 38341,
         'lie': 3852,
         'elsewher': 2390,
         'numyearold': 11723,
         'son': 12995,
         'nowher': 962,
         'took': 16850,
         'notic': 3685,
         'last': 64481,
         'spring': 6045,
         'start': 31135,
         'ask': 25917,
         'husband': 8802,
         'play': 46764,
         'recess': 1980,
         'yard': 4889,
         'pivot': 621,
         'shoot': 6194,
         'chase': 2518,
         'ball': 6728,
         'lebron': 385,
         'jame': 8886,
         'dwyan': 125,
         'joe': 3948,
         'johnson': 6804,
         'favorit': 4042,
         'dominiqu': 141,
         'wilkin': 91,
         'beat': 6235,
         'jordan': 2060,
         'dunk': 458,
         'contest': 2754,
         'mother': 14325,
         'couldnt': 3716,
         'hoot': 88,
         'sport': 10837,
         'simpli': 5864,
         'happier': 265,
         'take': 43126,
         'great': 17409,
         'wide': 5873,
         'complex': 4565,
         'real': 13993,
         'requir': 14066,
         'hard': 11849,
         'anim': 6186,
         'love': 21868,
         'sold': 6597,
         'countless': 730,
         'ticket': 6101,
         'tshirt': 1014,
         'breakfast': 1483,
         'told': 22447,
         'guy': 8872,
         'kid': 7024,
         'understand': 8339,
         'piqu': 98,
         'fragil': 710,
         'faberg': 32,
         'egg': 2023,
         'miss': 11500,
         'brother': 9072,
         'get': 53968,
         'score': 12301,
         'point': 31956,
         'fall': 11590,
         'leagu': 11576,
         'learn': 11958,
         'stick': 2338,
         'hope': 16707,
         'good': 29641,
         'mind': 7277,
         'section': 4025,
         'bu': 2948,
         'appl': 3533,
         'ripe': 319,
         'correct': 4284,
         'append': 443,
         'pari': 4546,
         'chocolati': 21,
         'rais': 13954,
         'bar': 6960,
         'dec': 5187,
         'jonathan': 2066,
         'hay': 855,
         'write': 11360,
         'greatest': 2329,
         'chocol': 1301,
         'mr': 216235,
         'ever': 10773,
         'brussel': 818,
         'truli': 2002,
         'four': 21867,
         'return': 17202,
         'frequent': 3207,
         'sampl': 2296,
         'corn': 1149,
         'de': 10419,
         'la': 7920,
         'toison': 1,
         'dor': 63,
         'neuhau': 13,
         'pierr': 552,
         'marcolini': 1,
         'leonida': 14,
         'cdor': 1,
         'believ': 16540,
         'disservic': 86,
         'concentr': 2051,
         'reichman': 17,
         'md': 1753,
         'morristown': 396,
         'nj': 3821,
         'pastri': 444,
         'herm': 149,
         'window': 5019,
         'ed': 1472,
         'alcock': 5,
         'bienstockwilliam': 1,
         'palm': 1615,
         'beach': 6769,
         'garden': 6058,
         'fl': 852,
         'belov': 4492,
         'sara': 612,
         'errol': 68,
         'paula': 411,
         'david': 12116,
         'sophi': 298,
         'ador': 1474,
         'grandfath': 2034,
         'lori': 266,
         'michel': 1851,
         'kristen': 215,
         'late': 14794,
         'bradley': 1102,
         'cherish': 1496,
         'roz': 31,
         'rae': 142,
         'gravesid': 216,
         'menorah': 87,
         'west': 18300,
         'wednesday': 16097,
         'februari': 4086,
         'numnum': 26986,
         'pm': 38544,
         'europ': 6906,
         'presidenti': 7742,
         'term': 9847,
         'jacqu': 396,
         'chirac': 228,
         'said': 315604,
         'referendum': 1109,
         'held': 11334,
         'sept': 7202,
         'seven': 7937,
         'five': 17352,
         'poll': 6230,
         'threequart': 316,
         'french': 7302,
         'support': 25316,
         'sevenyear': 191,
         'written': 5534,
         'fifth': 4192,
         'republ': 1831,
         'gaull': 67,
         'agenc': 15067,
         'francepress': 350,
         'vatican': 843,
         'remarriag': 21,
         'prohibit': 1690,
         'communion': 212,
         'cathol': 3425,
         'divorc': 1972,
         'remarri': 120,
         'priest': 1768,
         'lenient': 103,
         'parishion': 210,
         'coupl': 8697,
         'howev': 10764,
         'abstain': 123,
         'sex': 3969,
         'alessandra': 81,
         'stanley': 2072,
         'nyt': 1813,
         'switzerland': 819,
         'mossad': 46,
         'trial': 6075,
         'prosecutor': 5329,
         'nummonth': 539,
         'jail': 2710,
         'sentenc': 4270,
         'agent': 5900,
         'isra': 4875,
         'secret': 4696,
         'caught': 3116,
         'bungl': 87,
         'wiretap': 314,
         'fals': 1897,
         'earlier': 9428,
         'man': 20290,
         'place': 27200,
         'surveil': 1070,
         'suspect': 4850,
         'link': 4724,